{% extends 'blog/base.html' %}
{% load bootstrap4 %}
{% block content %}
    {% for post in posts %}
       <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style=" height: 300px;" >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">
</strong>
          <h3 class="mb-0"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
          <div class="mb-1 text-muted"> {{ post.published_date }}</div>
          <p class="card-text mb-auto">{{ post.text|slice:':85'}}...</p>
            <a href="{% url 'post_detail' pk=post.pk %}">Continue reading</a>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
        </div>
        <div class="col-auto d-none d-lg-block Aika">
          <img src="{{ post.image.url }}" style="width: 300px; height: 300px;">
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}


